<a href="https://colab.research.google.com/github/Suryaprakash17/LetsUpgrade-java1/blob/main/Small_projects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Jumbled Word

In [ ]:
lst =["RANIBOW","RAINBOW","BOWRANI","ROBWANI"]
print("Given word = OBANWRI")
print("1. RANIBOW \n2. RAINBOW \n3. BOWRANI \n4. ROBWANI")
x = int(input("Enter any option = "))
if x==1:
  print(1,"is the wrong answer")
elif x==2:
  print(2,"is the correct answer")
elif x==3:
  print(3,"is the wrong answer")
elif x==4: 
  print(4,"is the wrong answer")
else:
  print("Incorrect option")

Given word = OBANWRI
1. RANIBOW
2. RAINBOW
3. BOWRANI
4. ROBWANI
Enter any option = 2
2 is the correct answer

**2. Print in Caps**

In [ ]:
var='lets upgrade'
print(var.upper())

LETS UPGRADE

**3. Porfit or Loss**

In [ ]:
sp=float(input("Enter selling price :"))  #selling price=sp
cp=float(input("Enter cost price :"))     #cost price=cp 
if sp>cp:
  print("Profit amount is",sp-cp)
elif sp==cp:
  print("No loss or profit")
else:
  print("Loss amount is",cp-sp)

Enter selling price :90
Enter cost price :80
Profit amount is 10.0

**4. Euros into Rupees**

In [ ]:
x=float(input("Euro:"))
y=80.29
rupees=x*y
print("INR is",rupees)

Euro:2
INR is 160.58